.form-container {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 25px;
  width: 40vw;
  font-size: 4.5mm;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

