.container-myrentals {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.rentals-title {
  text-align: center;
}

.each-product {
  p {
    margin: 0;
    margin-top: 4px;
  }
  a {
    background-color: #aa4465;
    padding: 10px;
    color: white;
    border-radius: 5px;
    align-self: flex-end;
    right: 0px;
  }
  a:hover {
    text-decoration: none;
    transition: .3s;
    background-color: #861657;
  }
  margin-bottom: 3rem;
  width: 70%;
  margin: 0 auto;
}

.rental_form {
  text-align: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 35vw;
  font-size: 4.5mm;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 20px;
}

.rental_form h4{
  margin-top: 10px;
}
