
.rentals-title {
  text-align: center;
}

.each-product {
  p {
    margin: 0;
    margin-top: 4px;
  }
  a {
    background-color: #aa4465;
    padding: 10px;
    color: white;
    border-radius: 5px;
    align-self: flex-end;
    right: 0px;
  }
  a:hover {
    transition: .3s;
    background-color: #861657;
  }
  margin-bottom: 3rem;
  width: 70%;
  margin: 0 auto;
}
