<div class="footer">
        <div class="row d-flex justify-content-between">
            <div class="col-6">
                <div class="name-developers"><h5>Developers:</h5>
                    <p>Carla Kalache</p>
                    <p>Renata Bresolin</p>
                    <p>Matheus Kaiser Saliba</p>
                </div>
            </div>

            <div class="col-6">
            <div class="app-name">
                <p>Looking Good</p>
            </div>
            <div class="footer-logos">
                <%= link_to "#"></i>
                <% end %>

                <%= link_to "#"></i>
                <% end %>
            </div>
            </div>
       </div>
</div>
