<div class="footer">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-6">
                <div class="name-developers"><p>Developers:
                    <p>Carla Kalache</p>
                    <p>Renata Bresolin</p>
                    <p>Matheus Kaiser Saliba</p></p>
                </div>
            </div>

            <div class="col-6">
            <div class="app-name">
                <p>Looking Good</p>
            </div>
            <div class="footer-logos">
                <%= link_to "https://www.instagram.com/art_viral/", class: "footer-instagram-link" do %>
                <i class="fab fa-instagram"></i>
                <% end %>

                <%= link_to "https://www.facebook.com/matheus.kaisersaliba", class: "footer-facebook-link" do %>
                <i class="fab fa-facebook-square"></i>
                <% end %>
            </div>
            </div>
       </div>
    </div>
</div>
