<div class="rental_form">
  <%= simple_form_for [@product, @rental] do |f| %>
    <%= f.input :begin %>
    <%= f.input :end %>
    <%= f.submit "Rent", class: "btn btn-secondary" %>
  <% end %>
</div>
