<h2>Would you like to rent  <%=@product.description  %>?</h2>

<div class="rental_form">
  <%= simple_form_for [@product, @rental] do |f| %>
    <%= f.submit "Rent", class: "btn btn-secondary" %>
  <% end %>
</div>
