.btn {
  display: inline-block;
}

.btn-login {
  width: 150px;
  margin-bottom: 20px;
  background: #AA4465;
  margin-top: 5px;
    &:hover {
    transition: .3s;
    background-color: #861657;
    color: white;
    text-decoration: none;
  }
};

.btn-sing-up {
  width: 150px;
  margin-bottom: 20px;
  background: #AA4465;
    &:hover {
    transition: .3s;
    background-color: #861657;
    color: white;
    text-decoration: none;
  }
};

.btn-back {
    display: flex;
    justify-content: flex-end;
    margin-top: 10rem;
    margin-bottom: 10rem;
  a {
    background-color: #AA4465;
    padding: 10px;
    color: white;
    border-radius: 5px;
    align-self: flex-end;
    right: 0px;
  }
  a:hover {
    text-decoration: none;
    transition: .3s;
    background-color: #861657;
    color: white;
  }
};

.form-actions {
  text-align: center;
  background: #AA4465;
  width: 150px;
  display: inline-block;
  margin-bottom: 0.38rem;
  margin-top: 5px;
      &:hover {
    transition: .3s;
    background-color: #861657;
    color: white;
    text-decoration: none;
  }
}

.btn-save {
  text-align: center;
  background: #AA4465;
  width: 100%;
  display: block;
  margin-top: 10px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
    &:hover {
    transition: .3s;
    background-color: #861657;
    color: white;
    text-decoration: none;
  }
}

.btn-rent-product, .btn-details {
  display: inline-block;
  text-align: center;
  width: 150px;
  background-color: #AA4465;
  padding: 10px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  &:hover {
    transition: .3s;
    background-color: #861657;
    color: white;
    text-decoration: none;
  }
};
