.footer {
    background-color: #DDFFF7;
    margin-top: 5rem;
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.69), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
    padding-top: 1px;
}

.app-name {
    text-align: right;
    color: rgb(59, 57, 57);
    font-size: 6.4mm;
    font-weight: 700;
}

.footer-logos {
    text-align: right;
}


.fa-instagram {
    font-weight: 600;
    text-align: right;
    font-size: 24px;
    color:purple;
}

.fa-facebook-square {
    font-size: 24px;
    margin-left: 10px;
}

.name-developers {
    text-align: top;
    
}