.login-form {
  width: 40vw;
  font-size: 4.5mm;
  font-family: 'Karla', sans-serif, 'Semi-bold 600';
}

.login-form h2 {
  color: #AA4465;
  margin-bottom: 3rem;
  font-family: 'Karla', sans-serif, 'Semi-bold 600';
}
