.navbar-lewagon {
  justify-content: space-between;
  background: #DDFFF7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  border-radius: 30%;
}

.fa-shopping-bag {
  color: #AA4465;
  &:hover {
    color: #861657;
  }
}
