<h1 style="text-align: center;">Search Results:</h1>
<div class="container">
 <% if @products.present? %>
  <div class="card-deck">
  <% @products.each do |product| %>
    <div class="card">
      <h5 class="card-title mt-3"><strong><%= product.description%></strong></h5>
      <div class="card-body">
        <div class="img-product" style="background-image: url('<%= cl_image_path product.photo.key, transformation: [{crop: "crop", width: 900, height:1400},{width: 200, height: 300, gravity: 'auto', crop: "fill", quality: 100}] %>')">
        </div>
        <p class="card-text"> R$ <%= product.price %></p>
      </div>
      <p>
        <%= link_to 'Details', product_path(product), class: "btn-details" %>
      </p>
    </div>
  <% end %>
<% else %>
  <h3>Products not found ):</h3>
<% end %>
</div>
