<h2 class="paid-message">Thanks for your rent! You have paid US$ <strong>  <%#= params[:product][:price] %> 5,00  </strong>!</h2>
<h3 class="paid-message">Remmember! Take care of your product as yours! </h3>
