<div class="container">

  <h2 class="paid-message">Thanks for your rent!</h2>

  <h3 class="paid-message">Remmember! <br> Take care of your product as yours! </h3>

   <%= link_to 'My Rentals', product_rentals_path, class: 'btn-rent-product' %>

</div>
